/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type=search] {
  -webkit-appearance: textfield; /* 1 */ /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

@font-face {
  src: local("Phonk Contrast"), local("Phonk Contrast DEMO"), url("fonts/Phonk Contrast.woff2"), url("fonts/Phonk Contrast.woff");
  font-family: "Phonk Contrast";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
html {
  scroll-behavior: smooth;
  min-width: 320px;
}

.hidden {
  display: none;
}

.scrollLocked {
  overflow-y: hidden;
}

.white {
  color: #F9F1EB;
}

.bold {
  font-weight: 900;
}

.visually-hidden, .visually-hidden * {
  position: absolute !important;
  clip: rect(0 0 0 0) !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  padding: 0 !important;
  top: 0;
  left: 0;
  font-size: 0 !important;
  line-height: 0 !important;
}

img {
  max-width: 100%;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-family: sans-serif;
}

body {
  margin: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  vertical-align: baseline;
  display: inline-block;
}

audio:not([controls]) {
  height: 0;
  display: none;
}

[hidden], template {
  display: none;
}

a {
  background-color: rgba(0, 0, 0, 0);
}
a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  margin: 0.67em 0;
  font-size: 2em;
}

mark {
  color: #000;
  background: #ff0;
}

small {
  font-size: 80%;
}

sub {
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0;
  position: relative;
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code, kbd, pre, samp {
  font-family: monospace;
  font-size: 1em;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
  text-transform: none;
}

select {
  text-transform: none;
}

button, html input[type=button], input[type=reset] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  height: auto;
}
input[type=search] {
  -webkit-appearance: none;
}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

.body {
  position: relative;
  font-family: "Unbounded", "Arial", sans-serif;
  color: #000000;
  background-color: #EFE8E8;
  box-sizing: border-box;
}

@media screen and (max-width: 480px) {
  .body {
    min-width: 320px;
    width: 100%;
  }
}
.header {
  position: relative;
  padding: 40px;
  margin: auto;
  background-color: #21B1DF;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1800px;
}
.header__logo {
  padding-right: 40px;
}
.header__nav {
  padding-left: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 40px;
  border-left: 2px solid #F9F1EB;
}
.header__links {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding-left: 0;
  width: 100%;
  margin: 0;
  align-items: baseline;
}
.header__link {
  color: #F9F1EB;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  font-size: 24px;
  line-height: 1;
  border-bottom: 2px solid #21B1DF;
}
@media (hover: hover) and (pointer: fine) {
  .header__link:hover {
    transition: all 0.3s ease;
    border-bottom: 2px solid #F9F1EB;
  }
}
.header__link:active {
  border-bottom: 2px solid #F9F1EB;
}
.header__btn {
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: cover;
  width: 27px;
  height: 24px;
  border: none;
}

@media screen and (max-width: 1360px) {
  .header {
    padding: 30px;
  }
  .header__logo {
    width: 200px;
    box-sizing: content-box;
  }
  .header__link {
    font-size: 18px;
  }
}
@media screen and (max-width: 990px) {
  .header {
    padding: 20px 30px;
  }
  .header__logo {
    width: 200px;
    box-sizing: content-box;
  }
  .header__link {
    font-size: 14px;
  }
}
@media screen and (max-width: 860px) {
  .header {
    padding: 15px 25px;
  }
  .header__nav {
    padding-left: 20px;
  }
  .header__logo {
    width: 142px;
    padding-right: 25px;
  }
}
@media screen and (max-width: 760px) {
  .header__nav {
    height: 32px;
  }
  .header__link {
    font-size: 12px;
  }
}
@media screen and (max-width: 680px) {
  .header__nav {
    border: none;
    justify-content: flex-end;
  }
  .header__links {
    display: none;
  }
  .header__links-item {
    border-bottom: 1px solid #F9F1EB;
  }
  .header__links-item:first-of-type {
    border-top: 1px solid #F9F1EB;
  }
  .header__links-item:last-of-type {
    border-bottom: none;
  }
  .header__link {
    width: 100%;
    display: block;
    background-color: #21B1DF;
    text-align: center;
    height: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header__btn-menu--open {
    background-image: url("img/btn-open.svg");
  }
  .header__btn-menu--close {
    background-image: url("img/btn-close.svg");
  }
  .header__links--mobile {
    position: absolute;
    z-index: 99999;
    top: 76px;
    left: 0;
    width: 100%;
    flex-direction: column;
  }
}
.opened .header__links--mobile {
  display: block;
}

.main {
  position: relative;
}
.main.dark::before {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

@media screen and (max-width: 480px) {
  .main {
    min-width: 320px;
    width: 100%;
  }
}
.footer {
  background-color: #000000;
  display: flex;
  justify-content: center;
  font-weight: 700;
  padding: 30px;
}
.footer__inner {
  max-width: 1360px;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.footer__stores {
  display: flex;
  gap: 18px;
  flex-shrink: 0;
}
.footer__email {
  font-size: 25px;
  line-height: 1.2;
  color: #F9F1EB;
  margin-top: 0;
}
.footer__email-link {
  color: #F68A28;
}
.footer__text {
  color: #F9F1EB;
  font-size: 16px;
  line-height: 1.4;
  margin: 0;
}

@media screen and (max-width: 960px) {
  .footer__email {
    font-size: 14px;
  }
  .footer__text {
    font-size: 10px;
  }
}
@media screen and (max-width: 760px) {
  .footer__inner {
    flex-direction: column-reverse;
    justify-content: center;
    gap: 20px;
  }
}
@media screen and (max-width: 480px) {
  .footer {
    padding: 15px;
  }
}
.hero {
  position: relative;
  background-color: #21B1DF;
  background-image: url("img/skyscraper.svg");
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: contain;
  padding: 0 140px 0 30px;
}
.hero__inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  height: 760px;
}
.hero__img-wrapper {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.hero__text-wrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.hero__h1 {
  font-size: 46px;
  text-transform: uppercase;
  font-weight: 900;
  margin: 0;
  margin-bottom: 70px;
}
.hero__socials {
  position: absolute;
  z-index: 9999;
  bottom: 26px;
  right: 32px;
}

@media screen and (max-width: 1100px) {
  .hero {
    background-position: -200px;
  }
  .hero__inner {
    gap: 20px;
    height: 590px;
  }
  .hero__h1 {
    font-size: 36px;
    margin-bottom: 40px;
  }
  .hero__img {
    max-width: 360px;
    height: auto;
  }
}
@media screen and (max-width: 960px) {
  .hero {
    background-position: -129px;
  }
  .hero__h1 {
    font-size: 28px;
    margin-bottom: 32px;
  }
  .hero__inner {
    height: 440px;
  }
  .hero__img {
    max-width: 280px;
  }
}
@media screen and (max-width: 760px) {
  .hero {
    padding: 0 30px 0 30px;
  }
  .hero__inner {
    height: 380px;
  }
  .hero__img {
    max-width: 240px;
  }
  .hero__h1 {
    font-size: 21px;
    margin-bottom: 21px;
  }
}
@media screen and (max-width: 610px) {
  .hero {
    background-position: -119px;
  }
  .hero__inner {
    height: 350px;
  }
  .hero__img {
    max-width: 230px;
  }
}
@media screen and (max-width: 580px) {
  .hero {
    background-position: -106px;
  }
  .hero__inner {
    height: 310px;
  }
  .hero__img {
    max-width: 180px;
  }
  .hero__h1 {
    font-size: 18px;
    margin-bottom: 18px;
  }
}
@media screen and (max-width: 510px) {
  .hero {
    padding: 0 15px;
  }
  .hero__inner {
    gap: 10px;
  }
  .hero__h1 {
    font-size: 16px;
  }
}
@media screen and (max-width: 440px) {
  .hero {
    background-position: -91px;
  }
  .hero__h1 {
    font-size: 14px;
  }
  .hero__inner {
    height: 270px;
  }
  .hero__img {
    max-width: 170px;
  }
}
@media screen and (max-width: 400px) {
  .hero {
    background-position: -102px;
  }
  .hero__inner {
    height: 300px;
  }
  .hero__img {
    max-width: 160px;
  }
}
@media screen and (max-width: 360px) {
  .hero__h1 {
    font-size: 14px;
  }
}
@media screen and (max-width: 340px) {
  .hero__h1 {
    font-size: 11px;
    margin-bottom: 16px;
  }
}
.btn {
  position: relative;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 32px;
  color: #F9F1EB;
  text-decoration: none;
  font-weight: 700;
  background-color: #F68A28;
  border-radius: 12px;
  padding: 34px 64px 34px 152px;
  max-width: 454px;
  box-shadow: inset 5px -7px 8px rgba(0, 0, 0, 0.25);
  background-image: url("img/icon--play.svg");
  background-size: 47px;
  background-position: 78px;
  background-repeat: no-repeat;
}
@media (hover: hover) and (pointer: fine) {
  .btn:hover {
    transition: all 0.3s ease;
  }
}
@media screen and (max-width: 1100px) {
  .btn {
    font-size: 26px;
    padding: 34px 54px 34px 110px;
    max-width: 370px;
    background-size: 44px;
    background-position: 56px;
  }
}
@media screen and (max-width: 960px) {
  .btn {
    font-size: 21px;
    padding: 28px 20px 28px 62px;
    max-width: 280px;
    background-size: 30px;
    background-position: 40px;
  }
}
@media screen and (max-width: 640px) {
  .btn {
    font-size: 20px;
    padding: 22px 20px 22px 58px;
    max-width: 254px;
    background-size: 26px;
    background-position: 34px;
  }
}
@media screen and (max-width: 580px) {
  .btn {
    border-radius: 6px;
    font-size: 18px;
    padding: 22px 20px 22px 58px;
    max-width: 226px;
    background-size: 24px;
    background-position: 30px;
  }
}
@media screen and (max-width: 510px) {
  .btn {
    border-radius: 6px;
    font-size: 16px;
    padding: 17px 17px 17px 46px;
    max-width: 190px;
    background-size: 19px;
    background-position: 23px;
  }
}
@media screen and (max-width: 440px) {
  .btn {
    border-radius: 6px;
    font-size: 14px;
    padding: 17px 17px 17px 39px;
    max-width: 166px;
    background-size: 17px;
    background-position: 18px;
  }
}
@media screen and (max-width: 360px) {
  .btn {
    border-radius: 6px;
    font-size: 12px;
    padding: 16px 16px 16px 35px;
    max-width: 150px;
  }
}
@media screen and (max-width: 340px) {
  .btn {
    font-size: 11px;
    padding: 14px 14px 14px 37px;
    max-width: 140px;
    background-size: 15px;
  }
}
.ticker {
  padding: 38px 0;
  background-color: #F68A28;
  font-family: "Unbounded", "Arial", sans-serif;
  max-height: 76px;
  width: 100%;
  overflow: hidden;
  display: flex;
  gap: 35px;
}
.ticker__inner {
  display: flex;
  align-items: center;
  gap: 35px;
  animation: ticker 15s infinite linear;
}
@media (hover: hover) and (pointer: fine) {
  .ticker:hover .ticker__inner {
    animation-play-state: paused;
  }
}
.ticker__text {
  font-size: 34px;
  font-weight: 700;
  color: #F9F1EB;
  margin: 0;
  line-height: 0;
  white-space: nowrap;
  text-transform: uppercase;
}
.ticker__text--thin {
  font-weight: 300;
  background-image: url(img/dash.svg);
  background-repeat: no-repeat;
  width: 26px;
  height: 24px;
}
.ticker__text--outline {
  color: #F68A28;
  text-shadow: -1px -1px 0 #F9F1EB, 1px -1px 0 #F9F1EB, -1px 1px 0 #F9F1EB, 1px 1px #F9F1EB;
}
.ticker--black {
  background-color: #000000;
}
.ticker--black .ticker__text--outline {
  color: #000000;
}
.ticker--black .ticker__text--thin {
  background-color: #F68A28;
}
@keyframes ticker {
  100% {
    transform: translateX(-102.7%);
  }
}

@media (max-width: 1024px) {
  .ticker {
    padding: 28px 0;
    gap: 35px;
  }
  .ticker__text {
    font-size: 26px;
  }
}
@media (max-width: 768px) {
  .ticker {
    padding: 26px 0;
    gap: 30px;
  }
  .ticker__text {
    font-size: 42px;
  }
}
@media (max-width: 620px) {
  .ticker {
    padding: 22px 0;
    gap: 26px;
  }
  .ticker__text {
    font-size: 32px;
  }
}
@media (max-width: 480px) {
  .ticker {
    padding: 18px 0;
    gap: 24px;
  }
  .ticker__text {
    font-size: 18px;
  }
}
.socials {
  background-color: transparent;
  max-width: -moz-fit-content;
  max-width: fit-content;
  z-index: 9;
}
.socials__list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
  list-style-type: none;
}
.socials__item {
  width: 72px;
  height: 72px;
  border-radius: 50%;
}
.socials__item:nth-of-type(1) .socials__link {
  background-image: url("img/icon-socials--telegram.svg");
}
.socials__item:nth-of-type(2) .socials__link {
  background-image: url("img/icon-socials--x.svg");
}
.socials__item:nth-of-type(3) .socials__link {
  background-image: url("img/icon-socials--dextools.svg");
}
.socials__item:nth-of-type(4) .socials__link {
  background-image: url("img/icon-socials--dexscreener.svg");
}
.socials__item:nth-of-type(5) .socials__link {
  background-image: url("img/icon-socials--coingecko.svg");
}
.socials__item:nth-of-type(6) .socials__link {
  background-image: url("img/icon-socials--binance.svg");
}
.socials__item:nth-of-type(7) .socials__link {
  background-image: url("img/icon-socials--mexc.svg");
}
.socials__item:nth-of-type(8) .socials__link {
  background-image: url("img/icon-socials--coinmarketgap.svg");
}
.socials__item:nth-of-type(9) .socials__link {
  background-image: url("img/icon-socials--coinmarketgap.svg");
}
.socials__link {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: #000000;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}
@media (hover: hover) and (pointer: fine) {
  .socials__link:hover {
    background-color: #F68A28;
    transition: 0.3s all ease;
  }
}
.socials__link:active {
  background-color: #F68A28;
  transition: 0.3s all ease;
}

@media screen and (max-width: 1100px) {
  .socials__item {
    width: 54px;
    height: 54px;
  }
}
@media screen and (max-width: 960px) {
  .socials {
    bottom: 20px;
  }
  .socials__list {
    gap: 12px;
  }
  .socials__item {
    width: 40px;
    height: 40px;
  }
}
@media screen and (max-width: 760px) {
  .socials {
    right: 15px;
    bottom: 15px;
  }
  .socials__list {
    gap: 10px;
    flex-direction: row;
    width: calc(100vw - 60px);
    gap: unset;
    justify-content: space-between;
  }
  .socials__item {
    width: 36px;
    height: 36px;
  }
}
@media screen and (max-width: 420px) {
  .socials__list {
    width: calc(100vw - 24px);
  }
}
@media screen and (max-width: 360px) {
  .socials__item {
    width: 32px;
    height: 32px;
  }
}
.history {
  font-family: "Unbounded", "Arial", sans-serif;
  background: linear-gradient(180deg, #7CD1EC, #FAF2EB);
}
.history__inner {
  padding: 60px 50px 100px 50px;
}
.history__h2 {
  font-size: 96px;
  color: #000000;
  text-align: center;
  font-weight: 700;
  margin-bottom: 60px;
}
.history__p {
  font-size: 32px;
  color: #000000;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 90px;
}
.history__screenshot {
  display: flex;
  gap: 6%;
  justify-content: center;
  align-content: center;
  margin-bottom: 90px;
}
.history__phone-wrapper {
  position: relative;
  z-index: 0;
  background-image: url("img/phone.svg");
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 426px;
  width: 100%;
  aspect-ratio: 426/761;
}
.history__screen {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  max-width: 426px;
  width: 100%;
  height: auto;
  border-radius: 0;
}

@media screen and (max-width: 1024px) {
  .history__h2 {
    font-size: 64px;
  }
  .history__p {
    font-size: 24px;
    margin-bottom: 70px;
  }
  .history__screenshot {
    margin-bottom: 70px;
  }
  .history__screenshot:last-of-type {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 760px) {
  .history__inner {
    padding: 50px 30px;
  }
  .history__h2 {
    font-size: 54px;
    margin-top: 0;
    margin-bottom: 42px;
  }
  .history__p {
    font-size: 24px;
    margin-bottom: 42px;
  }
  .history__screenshot {
    margin-bottom: 42px;
  }
}
@media screen and (max-width: 480px) {
  .history__inner {
    padding: 10px 10px 34px 10px;
  }
  .history__h2 {
    font-size: 20px;
    margin-top: 12px;
    margin-bottom: 24px;
  }
  .history__p {
    font-size: 10px;
    margin-bottom: 18px;
  }
  .history__screenshot {
    margin-bottom: 18px;
  }
}
.games__inner {
  padding: 100px 50px 100px 50px;
}
.games__h2 {
  font-size: 96px;
  text-align: center;
  font-weight: 700;
  margin: 0;
  margin-bottom: 100px;
}
.games__columns {
  display: flex;
  justify-content: space-between;
  gap: 160px;
}
.games__h3 {
  font-size: 40px;
  margin: 0;
}
.games__h4 {
  font-size: 32px;
  font-weight: 700;
  margin: 0;
  margin-top: 48px;
}
.games__p {
  font-size: 32px;
  margin: 0;
  margin-top: 24px;
}
.games__li {
  margin-top: 24px;
}
.games__mini-game {
  margin-top: 100px;
}
.games__mini-game .games__h3 {
  text-align: center;
}
.games__dl-li {
  margin-top: 18px;
}
.games__dt {
  display: inline;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.15;
  margin: 0;
}
.games__dd {
  display: inline;
  font-weight: 400;
  font-size: 32px;
  line-height: 1.15;
  margin: 0;
}
.games__screenshot {
  display: flex;
  gap: 6%;
  justify-content: center;
  align-content: center;
  margin: 100px 0;
}
.games__phone-wrapper {
  position: relative;
  z-index: 0;
  background-image: url("img/phone.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  max-width: 426px;
  width: 100%;
  aspect-ratio: 426/741;
}
.games__screen {
  position: absolute;
  top: -1px;
  left: 0;
  z-index: 999;
  max-width: 426px;
  width: 100%;
  height: 100%;
  aspect-ratio: 426/741;
}

@media screen and (max-width: 1024px) {
  .games {
    margin-top: 18px;
  }
  .games__columns {
    gap: 120px;
  }
  .games__h2 {
    font-size: 64px;
    margin-bottom: 60px;
  }
  .games__h3 {
    font-size: 32px;
  }
  .games__p {
    font-size: 24px;
    margin-bottom: 40px;
  }
  .games__dt, .games__dd {
    font-size: 24px;
  }
  .games__screenshot {
    margin: 40px 0;
  }
}
@media screen and (max-width: 760px) {
  .games__inner {
    padding: 50px 30px;
  }
  .games__h2 {
    font-size: 54px;
    margin-top: 0;
    margin-bottom: 42px;
  }
  .games__p {
    font-size: 24px;
    margin-top: 12px;
    margin-bottom: 42px;
  }
  .games__screen {
    border-radius: 0;
  }
  .games__columns {
    flex-direction: column;
    gap: 48px;
  }
  .games__columns .games__p:last-of-type {
    margin-bottom: 0;
  }
  .games__dl-li {
    margin-top: 18px;
  }
  .games__dt, .games__dd {
    font-size: 24px;
  }
}
@media screen and (max-width: 480px) {
  .games {
    margin-top: 14px;
    line-height: 10px;
  }
  .games__inner {
    padding: 10px 10px 34px 10px;
  }
  .games__screen {
    border-radius: 0;
  }
  .games__h2 {
    font-size: 20px;
    margin-top: 12px;
    margin-bottom: 12px;
  }
  .games__h3 {
    font-size: 15px;
    margin-top: 24px;
  }
  .games__h4 {
    font-size: 12px;
    margin-top: 18px;
  }
  .games__p {
    font-size: 10px;
    margin-bottom: 18px;
    line-height: 12px;
  }
  .games__ul, .games__ol {
    padding-left: 15px;
  }
  .games__screenshot {
    margin: 20px 0;
  }
  .games__mini-game {
    margin-top: 30px;
  }
  .games__dt, .games__dd {
    font-size: 10px;
  }
  .games__dl {
    margin-bottom: 0;
  }
  .games__columns {
    gap: 0;
  }
  .games__li {
    margin-top: 12px;
  }
}
.toke__inner {
  padding: 100px 50px 100px 50px;
}
.toke__h2 {
  font-size: 96px;
  text-align: center;
  font-weight: 400;
  margin: 0;
  margin-bottom: 90px;
}
.toke__columns {
  display: flex;
  justify-content: space-between;
  gap: 160px;
}
.toke__h3 {
  font-size: 40px;
  margin: 0;
  margin-top: 90px;
  margin-bottom: 60px;
  text-align: center;
}
.toke__h4 {
  font-size: 32px;
  font-weight: 700;
  margin: 0;
  margin-top: 48px;
}
.toke__p {
  font-size: 32px;
  margin: 0;
  margin-top: 24px;
}
.toke__ol {
  margin-left: 12px;
}
.toke__li {
  font-size: 32px;
  margin-top: 18px;
}
.toke__chart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
  margin-top: 32px;
}
.toke__chart .toke__ul {
  padding-left: 90px;
  list-style-type: none;
  margin: 0;
}
.toke__chart .toke__li {
  font-size: 32px;
  position: relative;
}
.toke__chart .toke__li::before {
  content: "";
  position: absolute;
  top: 0;
  left: -90px;
  width: 50px;
  height: 50px;
  border: 1px solid black;
}
.toke__chart .toke__li:nth-of-type(1)::before {
  background-color: #F68A28;
}
.toke__chart .toke__li:nth-of-type(2)::before {
  background-color: #FEA500;
}
.toke__chart .toke__li:nth-of-type(3)::before {
  background-color: #FFCC66;
}

@media screen and (max-width: 1210px) {
  .toke__chart {
    gap: 30px;
  }
  .toke__chart .toke__ul {
    padding-left: 60px;
  }
  .toke__chart .toke__li {
    font-size: 21px;
  }
  .toke__chart .toke__li::before {
    width: 40px;
    height: 40px;
    left: -60px;
  }
  .toke__img {
    width: 45%;
    height: auto;
  }
}
@media screen and (max-width: 760px) {
  .toke__chart {
    gap: 30px;
  }
  .toke__chart .toke__ul {
    padding-left: 40px;
  }
  .toke__chart .toke__li {
    font-size: 18px;
  }
  .toke__chart .toke__li::before {
    width: 30px;
    height: 30px;
    left: -45px;
  }
}
.amba__inner {
  padding: 100px 50px 100px 50px;
}
.amba__h2 {
  font-size: 96px;
  text-align: center;
  font-weight: 400;
  margin: 0;
  margin-bottom: 90px;
}
.amba__h3 {
  font-size: 40px;
  margin: 0;
  margin-top: 90px;
  margin-bottom: 60px;
  text-align: center;
}
.amba__h4 {
  font-size: 32px;
  font-weight: 700;
  margin: 0;
  margin-top: 48px;
}
.amba__p {
  font-size: 32px;
  margin: 0;
  margin-top: 24px;
}
.amba__ol {
  margin-left: 12px;
}
.amba__li {
  font-size: 32px;
  margin-top: 18px;
}
.amba__pics {
  display: flex;
  gap: 0px;
  align-items: center;
  margin-top: 90px;
  margin-bottom: 90px;
}
.amba__qr-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 68px;
}
.amba .btn {
  max-width: 410px;
  background-position: 62px;
  padding: 34px 74px 34px 152px;
}
.amba__three {
  height: 100%;
  overflow: hidden;
}

@media screen and (max-width: 760px) {
  .amba__inner {
    padding: 50px 30px;
  }
  .amba__h2 {
    font-size: 54px;
    margin-top: 0;
    margin-bottom: 42px;
  }
  .amba__p {
    font-size: 24px;
    margin-top: 12px;
    margin-bottom: 42px;
  }
}
@media screen and (max-width: 480px) {
  .amba {
    margin-top: 14px;
    line-height: 10px;
  }
  .amba__inner {
    padding: 10px 10px 34px 10px;
  }
  .amba__screen {
    border-radius: 0;
  }
  .amba__h2 {
    font-size: 20px;
    margin-top: 12px;
    margin-bottom: 12px;
  }
  .amba__h3 {
    font-size: 15px;
    margin-top: 24px;
  }
  .amba__h4 {
    font-size: 12px;
    margin-top: 18px;
  }
  .amba__p {
    font-size: 10px;
    margin-bottom: 6px;
    line-height: 12px;
  }
  .amba__ul, .amba__ol {
    padding-left: 15px;
  }
  .amba__screenshot {
    margin: 20px 0;
  }
  .amba__mini-game {
    margin-top: 30px;
  }
  .amba__dt, .amba__dd {
    font-size: 10px;
  }
  .amba__dl {
    margin-bottom: 0;
  }
  .amba__columns {
    gap: 0;
  }
  .amba__li {
    margin-top: 12px;
  }
}
/*# sourceMappingURL=style.css.map */
